.vertical-menu {
  display: flex;
  flex-direction: column;
  width: 60px;
  min-height: 100vh;
  background-color: white;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
}

.vertical-menu.open {
  width: 200px;
  min-height: 100vh;
}

.navbar-company-logo {
  padding: 30px;
}

.menu-items {
  list-style-type: none;
  margin: 0;
  visibility: hidden;
}

.menu-items.open {
  visibility: visible;
}

.navbar__list {
  list-style-type: none;
}

.navbar__li {
  display: inline-block;
  position: relative;
  top: 2.5px;
  list-style: none;
}

.navbar__li a {
  text-decoration: none;
  color: #767676;
}

.navbar__li-box.active a {
  color: #006eaa;
}

.navbar__li-box.active img {
  filter: invert(36%) sepia(95%) saturate(6264%) hue-rotate(173deg)
    brightness(96%) contrast(98%);
}

.navbar__img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.navbar__li-box {
  height: 43px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: left;
}

.navbar__li-box:hover {
  cursor: pointer;
}

.navbar__li-box:hover .navbar__img,
.navbar__li-box:hover a {
  filter: invert(36%) sepia(95%) saturate(6264%) hue-rotate(173deg)
    brightness(96%) contrast(98%);
}

.menu-toggle {
  margin-top: auto;
  padding: 30px;
  display: flex;
  align-items: center;
  color: #767676;
}

.menu-toggle:hover {
  cursor: pointer;
  filter: invert(36%) sepia(95%) saturate(6264%) hue-rotate(173deg)
    brightness(96%) contrast(98%);
}

.menu-toggle img {
  cursor: pointer;
  padding-right: 18px;
}

.logout-link {
  font-size: 20px !important;
  color: #767676;
}
